.error [type="text"], .error [type="email"] {
    border: 2px solid red;
}

[type="text"], [type="password"], [type="email"], [type="tel"] {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


[type="text"]:focus, [type="password"]:focus, [type="email"]:focus, [type="tel"]:focus {
    outline: 0;
    background: #fff;
    border: 2px solid #19b9e7;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:hover {
    opacity: 0.9;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.9;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus {
    outline: 0;
    opacity: 0.9;
    background: #19b9e7;
    color: #fff;
}

button.btn:active:focus {
    outline: 0;
    opacity: 0.9;
    background: #19b9e7;
    color: #fff;
}


