{% extends "base.html.twig" %}

{% block body %}

    <h3>Body de la page actualite</h3>

    <p><a href="{{ path('rclab_website_actualite_events') }}">Liste des évènements</a></p>
    <p><a href="{{ path('rclab_website_actualite_news') }}">Liste des news</a></p>

    {% if is_granted('ROLE_MODERATOR') %}
    <br />
    <p>Formulaires d'ajout : </p>
    <p><a href="{{ path('rclab_website_actualite_events_add') }}">Ajouter un évènement</a></p>
    <p><a href="{{ path('rclab_website_actualite_news_add') }}">Ajouter une news</a></p><br />
    {% endif %}


{% endblock %}
