{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/rclabwebsite/css/actualite.css') }}" />
{% endblock %}

{% block body %}
    <div class="actu-body" href="{{ asset('bundles/rclabwebsite/image/actualite.jpg') }}">
    {% block actu %}
    {% endblock %}
    </div>
    {% block javascripts %}
        {% javascripts
            '@RCLABUserBundle/Resources/public/js/jquery.backstretch.min.js'
            '@RCLABWebsiteBundle/Resources/public/js/actualite.js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock %}