{% extends "base.html.twig" %}

{% block body %}

    <h3>Ajouter une news</h3>

    <div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter !</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
