{% extends "base.html.twig" %}

{% block body %}

    <h3>Body de la page actualite</h3>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter !</button>
    {{ form_end(form) }}

{% endblock %}
