{% extends "base.html.twig" %}

{% block body %}

    <p>{{ descriptionAssociation }}</p>
    <p>Bg: </p>
    {% for personne in personnes %}
        <p>{{ personne['fonction']['fonction']|upper }} : {{ personne['prenom'] }} {{ personne.nom }}</p>
    {% endfor %}
    Body de la page association

{% endblock %}
