{% extends "base.html.twig" %}

{% block body %}

	Body de la page d'accueil du site

	{#<h4>Actualités en focus</h4>#}
	{#{% for actu in list_actu_focus %}#}
		{#{{ actu.event ? actu.event }}#}
		{#{{ actu.news ? actu.news }}#}
	{#{% endfor %}#}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@RCLABUserBundle/Resources/public/js/jquery.backstretch.min.js'
        '@RCLABWebsiteBundle/Resources/public/js/index.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
