{% extends "compte.html.twig" %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{{ path('rclab_website_course_history_user') }}">Historique des cours</a></li>
            <li><a href="{{ path('rclab_website_repair_history_user') }}">Historique des réparations</a></li>
        </ul>
    </nav>

    {% block history %}

    {% endblock %}
{% endblock %}