{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/rclabwebsite/css/repair.css') }}" />
{% endblock %}
{% block body %}
	<div class="repair-body" href="{{ asset('bundles/rclabwebsite/image/reparation.jpg') }}">
	    <div>
	        <h3>Prenez rendez-vous</h3>
	        {{ form(form) }}
	    </div>
	</div>    
{% endblock %}
{% block javascripts %}
    {% javascripts
        '@RCLABUserBundle/Resources/public/js/jquery.backstretch.min.js'
        '@RCLABWebsiteBundle/Resources/public/js/index.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}