{% extends "@RCLABWebsite/Actualite/actus.html.twig" %}

{% block actu %}

    <h3>Ajouter une news</h3>

    <div>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>

{% endblock %}
