body {
    font-family: "Roboto";
    padding-top: 80px;
    position: relative;
    min-height: 100%;
}
#header-page, #footer-page{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.navbar-brand img {
    margin-top: -10px;
    width: 80px;
    height: 70px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-fixe > li > a {
        margin-left: 20px !important;
        padding-right: 0 !important;
        margin-right: -40px !important;
    }
    .header-user > li > a {
        margin-top: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header-fixe > li > a, .header-user > li > a {
        margin-right: -50px !important;
        margin-left: 20px !important;
    }
    .header-user > li > a {
        margin-left: -20px !important;
        padding-right: 40px;
        margin-top: 0 !important;
    }
}
@media (min-width: 768px) {
    .header .dropdown a > span {
        margin: 11px 0 !important;
    }
}
@media (min-width: 1200px) {
    .header-fixe > li > a, .header-user > li > a {
        margin-right:  -10px !important;
        margin-left: -15px !important;
    }
    .header-user > li > a {
        margin-top: 0 !important;
    }
}
@media (max-width: 767px) {
    .menu-footer > li > a {
        padding-right: 30px;
        margin-left: -28px;
    }
    .header-user > li > a {
        margin-right:-40px;
    }
}
.navbar-header > a > img{
    padding-left: 0;
    margin-left: -20px;
}

.header-fixe > ul > li > a,
.item-header > a {
    color:#b1aca1 !important;
}

.item-header > a:hover {
    color: #fff !important;
}

.header-user > li > a,
.item-user > a{
    color: #c53835 !important;
}
.header-user > li > a:focus {
    color: white;
}

.navbar-inverse {
    height: 80px !important;
    background-color: rgba(0, 0, 0, 0.9);
}

.menu-user,
.menu-head {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
}


.header-user > li > a:hover,
.header-user > li > a:focus,
.dropdown > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover
{
    background-color: transparent !important;
}

.dropdown-menu .divider {
    background-color: white;
}

.header-user > li > a:hover,
.item-user > a:hover {
    color: #ff5956 !important;
}

footer{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px 0px;
}

footer ul{
    list-style:none;
    margin: auto;
    display:inline-block;
    padding-top:20px;
}

footer ul li{
    float:left;
}

footer ul li a,
footer ul li a:focus {
    color:#b1aca1;
    padding:20px;
    text-decoration:none;
}

footer ul li a:hover {
    color:#fff;
    text-decoration:none;
}

.footer-top{
    padding-bottom:20px;
}

.footer-top .fa{
    font-size: 24px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    padding: 10px;
}

.footer-top a:focus {
    text-decoration:none;
}

.footer-top .facebook .fa , .footer-top .facebook:hover a, .facebook {
    color:#446cb3;
    text-decoration:none;
}
.footer-top .snapchat .fa , .footer-top .snapchat:hover a{
    color:yellow;
    text-decoration:none;
}
.footer-top .email .fa , .footer-top .email:hover a{
    color:#d91e18;
    text-decoration:none;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
    font-size:12px;
    padding:15px 0 10px 0;
}

#page {
    min-height:100vh;
    display:flex;
    flex-direction: column;
}

#content-page {
    flex-grow:1;
}
