.index-body {
    color: white;
    width:100%;
    text-align: center;
}
.planning-body h1 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 400;
    color: white;
    line-height: 50px;
}

.planning-body {
    padding: 50px;
}

.focus-body {
    background: rgba(0, 0, 0, 0.6);
}

.item img {
    height: 350px !important;
    margin: 0 auto;
}

.carousel-indicators li {
    border: 1px solid #ff3835;
}

.carousel-indicators .active {
    background: #ff3835;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.carousel-inner {
    height: 500px;
}

.carousel {
    padding-top: 30px;
    height: 500px;
}

.carousel-control, .carousel-control:focus {
    opacity: 0.6;
}
.carousel-control:hover {
    opacity: 0.9;
}

.item h1, .glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #ff3835;
}
.carousel-control .glyphicon {
    font-size: 48px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    margin-top: 20px;
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-bottom .week-place {
    padding: 0;
}
.h3-right {
    border-right: 2px solid #FFFFFF;
}
.form-bottom h3 {
    margin: 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.day-area, .day-area-right {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    height: 400px;
    margin-bottom: 20px;
}
@media(max-width: 768px) {
    .day-area {
        border-right: 2px solid #FFFFFF;

    }
    .form-bottom h3 {
        border-right: 2px solid #FFFFFF;
    }
}
.day-area-right {
    border-right: 2px solid #FFFFFF;
}

.course-area, .course-area-user, .course-area-teacher {
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}
.course-area {
    background: rgba(180, 180, 180, 0.5);
}

.course-area-user {
    background: rgba(25, 231, 125, 0.5);
}

.course-area-teacher {
    background: rgba(25, 185, 231, 0.5);
}

.course-link, .course-link:hover {
    text-decoration: none;
    color: white;
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}
.form-bottom {
    padding: 25px 25px 5px 25px;
    margin-bottom: 20px;
    background: #444;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 4px 4px;
    text-align: center;
}