<h1>Bienvenue sur le site internet de l'association Root Computer Lab !</h1>

<p>Il ne vous reste plus qu'à confirmer votre inscription en cliquant sur le lien ci-dessous ou en ouvrant ce lien dans votre navigateur internet </p>

<p><a href="{{ path('rclab_user_registration_checkEmail', { 'id': confirmationToken}) }}">{{ path('rclab_user_registration_checkEmail', { 'id': confirmationToken}) }}</a></p>