{% extends "base.html.twig" %}

{% block body %}

    <h3>Modifier l'évènement {{ event.title }}</h3>

    <div>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>

{% endblock %}